In [2]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
list(range(1,11,2))

[1, 3, 5, 7, 9]

In [3]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [4]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [18]:
s=0
for i in range(1,101):
    print (i)
    s=s+i

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [19]:
s

5050

In [20]:
prices=[1024,399,20000]

In [21]:
c=34.1415677

In [22]:
for p in prices:
    print(p*c)

34960.9653248
13622.485512300002
682831.354

In [23]:
L=[]

In [24]:
L

[]

In [34]:
L .append(p*c)

In [37]:
L

[87, 682831.354]

In [38]:
spam=input("價格")

價格1024,399,20000,600

In [39]:
spam

'1024,399,20000,600'

In [40]:
spam.split(',')

['1024', '399', '20000', '600']

In [42]:
data=spam.split(',')

In [43]:
data

['1024', '399', '20000', '600']

In [44]:
for p in data:
    p=float(p)
    print(p*c)

34960.9653248
13622.485512300002
682831.354
20484.94062

In [48]:
p_list=[]
spam=input("價格")
data=spam.split(',')

for p in data:
    p=float(p)
    p_list.append(p*c)
    print("價格",int(p*c),"台幣")

價格1
價格 34 台幣

In [51]:
def exchange(p):
    p=float(p)
    return p*c

In [52]:
exchange('299')

10208.3287423

In [55]:
L='333 1024 488 20000'.split []

SyntaxError: invalid syntax (<ipython-input-55-57800b8264c0>, line 1)

In [56]:
L

[87, 682831.354]

list(map(exchange,L))

In [58]:
def f(x):
    return x**2

In [59]:
f(2)

4

In [60]:
g=lambda x:x**2

In [62]:
g(3)

9

In [64]:
list(map(lambda p:float(p)*c,L))

[2970.3163899, 23312932.90027367]

In [65]:
egg=[1,2,3,4]

In [67]:
list(map(lambda p:float(p)*2+1,egg))

[3.0, 5.0, 7.0, 9.0]

In [68]:
grades=[47,56,60,75]

In [69]:
list(map(lambda g:np.sqrt(g)*10,grades))

[68.55654600401044, 74.83314773547883, 77.45966692414834, 86.60254037844388]

In [70]:
L

[87, 682831.354]

In [71]:
[float(p)*c for p in L]

[2970.3163899, 23312932.90027367]

In [80]:
s=''
for i in L:
    s=s+i+','

TypeError: can only concatenate str (not "int") to str

In [81]:
s

''

In [82]:
egg=[12,87,55,77,32]

In [83]:
egg.sort()

In [84]:
egg

[12, 32, 55, 77, 87]

In [90]:
ham="ABCDE"

In [92]:
ham[3]

'D'

In [93]:
ham[::-1]

'EDCBA'

In [6]:
from ipywidgets import interact
def move(n=1):
    print("o" *n +"o"*n)

In [4]:
move()

oo

In [5]:
interact(move,n=(1,40))

interactive(children=(IntSlider(value=1, description='n', max=40, min=1), Output()), _dom_classes=('widget-int…